@import '../scss/helpers';

$slider-brake-point: 768px;

.root {
    max-width: 600px;
    margin: auto;
}

.dialog [role='dialog'] {
    margin: auto 20px;
    width: 960px;
}

.dialog [class='el-dialog__body'] {
    padding: 0;
}

div:has(> .office) {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.office {
    text-align: center;
    margin: auto;
    justify-content: center;
    display: flex;
    min-width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;

    @media (max-width: $slider-brake-point) {
        flex-direction: column;
    }

    img {
        @media(width <= 768px) {
            max-height: 180px;
        }
    }
}

.officePhotos {
    cursor: pointer;
    //display: inline-block;
    width: 50%;
    overflow: unset;
    margin-right: 20px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    > * {
        min-width: 100%;
        scroll-snap-stop: always;
        scroll-snap-align: start;
    }

    @media (max-width: $slider-brake-point) {
        width: 100%;
    }

    ul li button {
        width: 8px;
        height: 8px;
        padding: 0;
        border: 0;
        border-radius: 50%;
        outline: none;
        font-size: 0;
        background-color: var(--dots-color);
    }

    ul li[class*='is-active'] button {
        background-color: var(--dots-active-color);
    }
}

.dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;

    .dialogImg {
        height: 100%;

        img {
            object-fit: cover;
            width: 100%;
            max-height: 600px;
            height: 100%;
            align-items: center;
            justify-content: center;
        }
    }

    .dialogSliderItem {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.carouselImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &:hover {
        transform: scale(1.05);
    }
}

.image {
    max-width: 330px;
    margin-right: 20px;

    @media (max-width: $slider-brake-point) {
        margin: auto;
    }
}

.textWrap {
    text-align: left;
    max-width: 330px;
    margin: auto 0;
    user-select: text;

    @media (max-width: $slider-brake-point) {
        text-align: center;
        margin: auto;
    }
}

.title {
    color: var(--blue);
    font-size: clamp(20px, 3vw, 24px);
    line-height: 1.25;
}

.address {
    opacity: 0.8;
    color: var(--blue);
    font-size: 16px;
    line-height: 1.5;
    text-wrap: balance;
}

/*========== Slider ===========*/
.sliderDots {
    position: static;
    margin: 10px auto 0;
    transform: none;

    &:hover {
        transform: scale(1.05);
    }
}

/*===== End of Slider =========*/

@media (width > $slider-brake-point) {
    .dialog {
        [class='el-carousel__container'] {
            height: 600px;
        }
    }
}

@media (max-width: $slider-brake-point) {
    [class='el-dialog'] {
        width: 60%;
    }

    .dialogImg {
        max-height: 600px;
        height: 100%;
    }
}

@media (max-width: 1365px) {
    .dialog [role='dialog'] {
        margin: auto 20px;
        width: 100%;
    }
}

@media (max-width: 415px) {
    .dialog [role='dialog'] {
        margin: auto 5px;
    }
}